<div class="jumbotron">

  <div class="page-header">
    <h1>Editing Community</h1>
    <%= link_to 'Show', dspace_communities_path(@dspace_community.id) %> |
    <%= link_to 'Back', dspace_communities_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_community_path, method: :put} %>

</div>
