<h1>Editing Dspace Community</h1>

<%= render partial: 'form', locals: {url: dspace_community_path, method: :put} %>

<%= link_to 'Show', dspace_communities_path(@dspace_community.id) %> |
<%= link_to 'Back', dspace_communities_path %>
