<h1>Dspace Communities</h1>

<%= link_to 'New Dspace Community', new_dspace_community_path, class: 'btn btn-success' %>
</br></br>
<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_communities} %>

<%= render partial: 'index_table', locals: {dspace_communities: @dspace_communities} %>

<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_communities} %>
