<h1>Dspace Communities</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dspace_communities.each do |dspace_community| %>
      <tr>
        <td><%= link_to dspace_community.name,
                  dspace_community_path(dspace_community.id),
                  class: 'btn btn-default' %>
        </td>

        <td><%= link_to 'Edit',
                  edit_dspace_community_path(dspace_community.id),
                  class: 'btn btn-primary' %>
        </td>

        <td><%= link_to 'Destroy',
                  dspace_community_path(dspace_community.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dspace Community', new_dspace_community_path, class: 'btn btn-success' %>
