<h1>Dspace Metadata Fields</h1>

<%= link_to 'New Dspace Metadata Field', new_dspace_metadata_field_path, class: 'btn btn-success' %>

<%= render partial: 'index_table', locals: {dspace_metadata_fields: @dspace_metadata_fields} %>
