<div class="jumbotron">

  <div class="page-header">
    <h1>Metadata Fields</h1>
    <%= link_to new_dspace_metadata_field_path,
            title: 'New',
            class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
            New
    <% end %>
  </div>

  <%= render partial: 'index_table', locals: {dspace_metadata_fields: @dspace_metadata_fields} %>

</div>
