<div class="jumbotron">

  <%= render 'dspace_schema_selector' %>
  <div class="page-header">
    <h2><b><%= @dspace_schema.prefix %></b> schema's</h2>
    <h1>Metadata Fields<h1>
    <%= link_to new_dspace_schema_dspace_metadata_field_path(@dspace_schema.prefix),
            title: 'New',
            class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
            New
    <% end %>
  </div>

  <%= render partial: 'index_table', locals: {dspace_metadata_fields: @dspace_metadata_fields} %>

</div>
