<div class="jumbotron">

  <div class="page-header">
    <h1>New Metadata Fieldy</h1>
    <%= link_to 'Back', dspace_metadata_fields_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_metadata_fields_path, method: :post} %>

</div>
