<h1>Editing Dspace Collection</h1>

<%= render partial: 'form', locals: {url: dspace_collection_path, method: :put} %>

<%= link_to 'Show', dspace_collections_path(@dspace_collection.id) %> |
<%= link_to 'Back', dspace_collections_path %>
