<div class="jumbotron">

  <div class="page-header">
    <h1>Editing Collection</h1>
    <%= link_to 'Show', dspace_collections_path(@dspace_collection.id) %> |
    <%= link_to 'Back', dspace_collections_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_collection_path, method: :put} %>
  
</div>
