<div class="jumbotron">

  <div class="page-header">
    <h1>Collections</h1>
    <%= link_to new_dspace_collection_path,
            title: 'New',
            class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
            New
    <% end %>
  </div>

  <%= render partial: 'layouts/page_selection', locals: {objects: @dspace_collections} %>
  <%= render partial: 'index_table', locals: {dspace_collections: @dspace_collections} %>
  <%= render partial: 'layouts/page_selection', locals: {objects: @dspace_collections} %>

</div>
