<h1>Dspace Collections</h1>

<%= link_to 'New Dspace Collection', new_dspace_collection_path, class: 'btn btn-success' %>
</br></br>
<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_collections} %>

<%= render partial: 'index_table', locals: {dspace_collections: @dspace_collections} %>

<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_collections} %>
