<div class="panel panel-default">

  <div class="panel-heading">
    <%= link_to "#collections_collapse_form",
      title: 'Collapse',
      class: "btn btn-default",
      'data-toggle': "collapse" do %>
        <span class="glyphicon glyphicon-plus"></span>
        Collections
    <% end %>
  </div>

  <div class="panel-body collapse" id="collections_collapse_form">
    <%= f.input :collection, label: false, collection: @collections, as: :check_boxes %>
  </div>
</div>
