<div class="jumbotron">

  <div class="page-header">
    <h1>Editing Item</h1>
    <%= link_to 'Show', dspace_item_path(@dspace_item.id) %> |
    <%= link_to 'Back', dspace_items_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_item_path, method: :put} %>

</div>
