<h1>Current User:</h1>

<p><h3>Email:</h3> <%= @_current_user.email %></p>
<p><h3>Full name:</h3> <%= @_current_user.fullname %></p>
<p><h3>Authenticated:</h3> <%= @_current_user.authenticated %></p>
