<% unless object_list.nil? || object_list.empty? %>
  <ul>
    <% object_list.each do |obj| %>

        <% if obj.is_a?(Dspace::Community) %>
          <li>
            <%= link_to obj.name, dspace_community_path(obj.id) %>
          </li>
          <%= render partial: 'object_list',
                locals: {object_list: obj.sub_communities} %>
          <%= render partial: 'object_list',
                locals: {object_list: obj.collections} %>

        <% else %>
          <li>
            <%= link_to obj.name, dspace_collection_path(obj.id) %>
          </li>
        <% end %>

    <% end %>
  </ul>
<% end %>
