 <div class="jumbotron text-center">
  <h1 class="">
    DSpace REST API Sample Client
  </h1>
  <p>
    This application is fully based on DSpace REST API and it is completely free of database. Everything is stored on a DSpace instance and all the requests are made via its REST API, including authentication and all CRUD operations.
  </p>
  <p>
    This was built using Ruby on Rails framework, and depends on the <b><%= link_to 'dspace-rest-client', 'https://rubygems.org/gems/dspace_rest_client/' %></b> rubygem. The purpose is to be a concept proof not only for DSpace's REST API but also for the mentioned rubygem. Feel free to take a look at the code behind it at: <b><%= link_to 'DspaceRestSample Repository', 'https://gitlab.c3sl.ufpr.br/bnzanette/DspaceRestSample' %></b>
  </p>
  <p>
    Currently, the DSpace instance that is being used is:
    <br>
    <b><%= link_to DspaceService.link, DspaceService.link %></b>
    <br>
    Check it out to get more informations!
  </p>
</div>

<div>
  <%= render partial: 'object_list',
        locals: {object_list: @site_hierarchy.community_list } %>
</div>
