 <div class="jumbotron text-center">
  <h1>DSpace REST API Sample Client</h1>
  <p>
    This application is fully based on DSpace REST API and it doesn't have
    any
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>DSpace REST API</h3>
      <p>This app uses the DSpace REST API as the sole data source. It was build by Peter Dietz at Longsight to test the REST API, and to build a prototype new user interface for DSpace.</p>
    </div>
    <div class="col-sm-4">
      <h3>What is this?</h3>
      <p>This is a REST API client to DSpace. The purpose is to ensure all the functionality works.</p>
    </div>
    <div class="col-sm-4">
      <h3>What Works</h3>
      <p>The commit activity is the best indicator of what's been worked on, but here's what works.

    Top Level Community List
    Community Page
    Collection Page
    Item Page
    Creating a Top-Level-Community

And what doesn't work includes searching, statistics, and Create/Edit/Delete. </p>
    </div>
  </div>
</div>
