<div class="jumbotron">

  <div class="page-header">
    <h1>Schemas</h1>
    <%= link_to new_dspace_schema_path,
            title: 'New',
            class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
            New
    <% end %>
  </div>

  <%= render partial: 'index_table', locals: {dspace_schemas: @dspace_schemas} %>

</div>
