<h1>Editing Dspace Bitstream</h1>

<%= render partial: 'form', locals: {url: dspace_bitstream_path, method: :put} %>

<%= link_to 'Show', dspace_bitstreams_path(@dspace_bitstream.id) %> |
<%= link_to 'Back', dspace_bitstreams_path %>
