<div class="jumbotron">

  <div class="page-header">
    <h1>Editing Bitstream</h1>
    <%= link_to 'Show', dspace_bitstreams_path(@dspace_bitstream.id) %> |
    <%= link_to 'Back', dspace_bitstreams_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_bitstream_path, method: :put} %>

</div>
