<h1>Dspace Bitstreams</h1>

<%= link_to 'New Dspace Bitstream', new_dspace_bitstream_path, class: 'btn btn-success' %>
</br></br>
<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_bitstreams} %>

<%= render partial: 'index_table', locals: {dspace_bitstreams: @dspace_bitstreams} %>

<%= render partial: 'layouts/page_selection', locals: {objects: @dspace_bitstreams} %>
