<div class="jumbotron">

  <div class="page-header">
    <h1>New Bitstream</h1>
    <%= link_to 'Back', dspace_bitstreams_path %>
  </div>

  <%= render partial: 'form', locals: {url: dspace_bitstreams_path, method: :post} %>
  
</div>
